@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .adress-list {
    flex-direction: row;
    gap: 40px;
  }
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-image.jpg);
    background-color: var(--hero-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-background-color);
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}
