:root{--main-background-color: #FFFFFF;
    --hero-background-color: #2E2F42;
    --main-accent-color: #4D5AE5;
    --secondary-accent-color: #31D0AA;
    --header-accent-color:#2E2F42;
    --footer-accent-color:#F4F4FD;
    --main-title-color:#2E2F42;
    --main-text-color:#434455;
    --adress-color:#434455;
    --button-background-color:#F4F4FD;
    --footer-text-color:#E7E9FC;
    --focus-background-color:#404BBF;
    --team-backgroung-color:#F4F4FD;
    --border-color:#E7E9FC;
    --footer-background-color:rgba(255, 255, 255, 0.1);
    --backdrop-background-color:rgba(46, 47, 66, 0.4);
    --modal-background-color:#FCFCFC;
    --label-color: #8E8F99;
    
} 
:root{
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --duration:250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
margin: 0;}

ul{
    margin: 0; padding: 0;}
img{
    display: block;
    max-width: 100%;
    height: auto;}
   
body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-title-color);
    background: var(--main-background-color);
}
textarea{
    resize: none;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding: 120px 0;}

.list{
    list-style: none;}

.link{
    text-decoration: none;}

.btn{font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;}
    
.visually-hidden {
   position: absolute;
   top: -150%;
   z-index: -100;
   width: 0;
   height: 0;
   opacity: 0;
   visibility: hidden;
   user-select: none;
   pointer-events: none;
   cursor: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border: none;
   outline: none;
   white-space: nowrap;
      }
/*-------Header-------------*/

.header{ 
    padding: 24px 0;
    border-bottom: 1px solid var(--border-color);
}
.header-container{
    display: flex;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
}
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header-accent-color);
margin-right: 76px;
}

.accent{color: var(--main-accent-color);}

.header-list{
    display: flex;
    gap: 40px;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.header-list :hover,
.header-list :focus{ 
    color: var(--focus-background-color);
}

.header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);   
}
.current::after{
    position: absolute;
    content:'';
    left: 0;
    bottom: -147%;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--focus-background-color);
    border-radius: 2px;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.adress-list{
    display:flex;
    gap: 40px;
}
.header-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adress-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);}

.header-mail:hover, 
.header-mail:focus {
    color: var(--focus-background-color);}
    
.header-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adress-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    }


.header-tel:hover, 
.header-tel:focus {
    color: var(--focus-background-color);
    }
    
/*-------Hero-------------*/

.hero{
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-bg-image.jpg);
    background-color: var(--hero-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    }
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
    color: var(--main-background-color);
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    }

.hero-btn{
    display: inline-block;
    padding: 16px 32px;
    border: none;
    color: var(--main-background-color);
    background: var(--main-accent-color);
    transition-property: background;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}
    
    
.hero-btn:hover,
.hero-btn:focus{
background: var(--focus-background-color);
}

/*-------Modal-------------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-background-color);
    transition-property: visibility, opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: auto;
    min-width: 408px;
    padding:72px 24px 24px;
    background-color: var(--modal-background-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden .modal { 
    transform: translate(-50%, -50%) scale(0.1);}

.modal-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}
.modal-icon:hover {
    background-color: var(--focus-background-color);
    color: var(--main-background-color);
}

.icon-image{
    fill: currentColor;
}

.form{
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--header-accent-color);margin-bottom: 16px;
}

.form-field{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--label-color);
    margin-bottom: 4px;
}

.form-inner{
    outline: none;
    border: 1px solid var(--header-accent-color);
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    padding: 8px 16px 8px 38px;
    transition-property: border;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);}
    
.form-icon {
    position: absolute;
    top: 44%;
    left: 16px;
    color: var(--main-title-color);
    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);}   

.form-inner:focus {
    border-color: var(--main-accent-color); 

}

.form-inner:focus + .form-icon{
    fill: var(--main-accent-color);}

.form-comment {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 16px;
} 

.comment {
    min-height: 120px;
    width: 100%;
    outline: none;
    border-color: 1px solid var(--header-accent-color);
    border-radius: 4px;
    padding:8px 16px;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    color: var(--main-title-color);
}

.comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    border-color: var(--label-color);
}

.comment:focus {
    border-color: var(--main-accent-color);
}

.form-accept{
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--label-color);
}

.modal-form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid var(--hero-background-color);
    border-radius: 2px;
    cursor: pointer;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.form-checkbox-icon {
    opacity: 0;
    align-items: center;
    justify-content: center;
}
.checkbox {
    appearance: none;
}

.checkbox:checked + .modal-form-checkbox {
    border: 1px solid var(--focus-background-color);
    background-color: var(--focus-background-color);
}

.checkbox:checked + .modal-form-checkbox .form-checkbox-icon {
    opacity: 1;
    fill: var(--focus-background-color);
    cursor: pointer;
}
.form-accept a {
    color: var(--main-accent-color);
}

 .form button[type="submit"]{
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    text-align: center;
    color: var(--main-background-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);  
 }
 .form button[type="submit"]:hover, .form button[type="submit"]:focus {
    background-color: var(--focus-background-color);
}
/*-------Advantage-------------*/

.advantage-list{
    display: flex;
    gap: 24px;
}
.advantage-item{
    width: calc((100% - 24px * 3) / 4);
}
.advantage-item::before{
    display: block;
    content: '';
    height: 112px;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--team-backgroung-color);
}
.icon-antenna::before{
    background-image: url(../images/SVG/antenna.svg);  
}
.icon-clock::before{
    background-image: url(../images/SVG/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/SVG/diagram.svg);
}
.icon-astronaut::before{
    background-image: url(../images/SVG/astronaut.svg);
}
.advantage-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 8px 0;
}
.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    width: 264px;
}

/*-------Work-Examples-------------*/

.work-examples{
    padding-bottom: 120px;}

.work-examples-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}
.work-examples-list{ 
    display: flex;
    gap: 24px; 
}

.work-examples-item{
    border: 1px solid var(--border-color);
    width:calc((100% - 24px * 2) / 3);
}
/*-------Team-------------*/

.team {
    background:var(--team-backgroung-color);

}
.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-item { 
    width:calc((100% - 24px * 3) / 4);
    background: var(--main-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.user-content-section{
    text-align: center;
    padding: 32px 0;
    }

.team-user {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}
.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-item {
    width: 40px;
    height: 40px;
}
.team-social-link {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-accent-color);
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.team-social-link:is(:hover, :focus){
    background-color: var(--focus-background-color);
}

/*-------Customers-------------*/

.customers-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
margin-bottom: 72px;
}
.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-item {
    width: 168px;
    height: 88px;
}

.customers-link {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    transition-property: background-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.customers-link:is(:hover, :focus)
{
    border-color: var(--focus-background-color);
    color: var(--focus-background-color);
}
.customers-logo{
    fill: currentColor;
}

/*-------main filter-------------*/

.main{
    padding-top: 93px;
    padding-bottom: 120px;
}
.filter-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
}
.filter-btn{
    color: var(--main-accent-color);
    background: var(--button-background-color);
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.filter-btn:hover, 
.filter-btn:focus {
    color: var(--main-background-color);
    background: var(--focus-background-color);
    border-color:transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------main project-------------*/


.project-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.project-item{
    align-items: baseline;
    width: calc((100% - 24px * 2) / 3);
}

.filter-grid{
    display:block;
    transition-property: box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}
.filter-grid:is(:hover, :focus){
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-section{
    text-align: start;
    padding:  32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}


.project-thumb{
    position: relative;
    overflow: hidden;
}

.project-hover-text {
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--button-background-color);
    background-color: var(--main-accent-color);
    padding:40px 32px;
    transform: translateY(100%);
    transition: transform var(--duration) var(--timing-function);
}
.filter-grid:hover .project-hover-text{
    transform: translateY(0);
}

.project-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-title-color);
    margin-bottom: 8px;     
}

.project-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

/*-------footer-------------*/
.footer {
    background: var(--hero-background-color);
    padding: 100px 0;
}

.footer .container{
    display: flex;
    align-items: baseline;
    
}
.footer-logo-text{
    margin-right: 120px;
}
.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-accent-color);
}
    
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-background-color);
    width: 264px;
    margin-top: 16px;
    
}
.social-media {
    margin-right: 80px;
}
.footer-subtitle{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-background-color);
margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--footer-background-color);
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}
.footer-social-link:is(:hover, :focus){
    background-color: var( --secondary-accent-color);
}
.footer-form {
  display: flex;
  flex-direction: column;
  min-width: 453px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;}

.footer-form-field {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.footer-form-inner {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background-color: rgba(46, 47, 66, 0);
    border: 1px solid var(--main-background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    padding: 8px 212px 8px 16px;
    }

.footer-form-inner::placeholder {
    color: var(--main-background-color);
}
.subscribe {
    display: flex;
    text-align: center;
    align-items: center;
    min-width: 165px;
    cursor: pointer;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--main-background-color);
    background-color: var(--main-accent-color);
    border: none;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);  
}

.subscribe-icon {
    margin-left: 16px;   
}

.subscribe:hover, .subscribe:focus {
    background-color: var(--focus-background-color);
}